@charset "utf-8";
* {padding: 0;margin: 0;font-family: 微软雅黑}li{list-style: none}a{color:#333;}
body{transition:background-color 1s ease-in;font-size:20px;}
body.night {
	background: #232323
}
body.day {
	background: #fff
}
#header {
	text-align: center;
	color: #5fb7e9;
}
.header-on{
	padding-top: 20px;font-size:35px;
	-webkit-animation: .6s headerOn;-moz-animation: .6s headerOn;animation: .6s headerOn;
}
.header-off{
	padding-top: 5px;font-size:30px;
	-webkit-animation: .6s headerOff;-moz-animation: .6s headerOff;animation: .6s headerOff;
}
 @-webkit-keyframes headerOn {
 0% {padding-top:5px;font-size: 30px;}
 100% {padding-top:20px;font-size: 35px;}
}
 @-moz-keyframes headerOn {
 0% {padding-top:5px;font-size: 30px;}
 100% {padding-top:20px;font-size: 35px;}
}
 @keyframes headerOn {
 0% {padding-top:5px;font-size: 30px;}
 100% {padding-top:20px;font-size: 35px;}
}
@-webkit-keyframes headerOff {
 0% {padding-top:20px;font-size:35px;}
 100% {padding-top:5px;font-size:30px;}
}
 @-moz-keyframes headerOff {
 0% {padding-top:20px;font-size:35px;}
 100% {padding-top:5px;font-size:30px;}
}
 @keyframes headerOff {
 0% {padding-top:20px;font-size:35px;}
 100% {padding-top:5px;font-size:30px;}
}
#header span {
	display:inline-block;
	color:#fff;
	border-radius:4px;
	padding:0 5px;
	position:relative;
	z-index:2;
}
#nav {
	max-width:450px;
	margin:0 auto;
	font-size:22px;
	
	display:none;
	padding:0 7% 5px 7%;
	text-align:left;
	position:relative;
}
#player{background: #54d5eb;font-size:14px;}
#score{background: #f75455;font-size:16px;}
#nav p{
position:absolute;top:0;left:0;
text-align:center;width:100%;	
}
#nav div {
	float:right;
	margin-left:6px;
	position:relative;
	z-index:2;
}
#status{font-size:12px;}
#nav p span{display:none;transition:background-color .3s ease-in;}
#nav p span.on{
	display:inline-block;
	background:#f75455;
	-webkit-animation: 3s blink linear infinite;
	-moz-animation: 3s blink linear infinite;
	animation: 3s blink linear infinite;
}
#nav p span.on::before{content:"观战中"}
#nav p span.off{display:inline-block;background:#56eed9;}
#nav p span.off::before{content:"观战"}
#pause{color: #f9aa33;}
#board{color: #f75455;}
#chatOpen{color: #54d5eb;}
#header .single #board,#header .single #chatOpen{
	display:none;	
}
#main {
	font-size:.8em;
	margin-top: 50px;
	color:#fff;
	position:relative;
}
#menu1,#menu2{ width:170px;margin:0 auto}
#main #menu1 div {
	transition:background-color .3s ease-in;
	height: 70px;
	line-height: 70px;
	text-align: center;
	border-radius: 10px;
}
#main #menu1 div:nth-of-type(1){background: #98dc55;}
#main #menu1 div:nth-of-type(2){background: #34c69f;}
#main  #menu1 div {font-size: 30px;}
#menu2 li{
	transition:background-color .3s ease-in;
	position:relative;
	text-align:center;
	border-radius:10px;
	height:60px;
	line-height: 60px;
	margin:5px 0;
}
#menu2 li i{font-size:1.6em;position:relative;top:2px;left:-4px;}
#menu2 li:nth-of-type(1){background:#f49c14}
#menu2 li:nth-of-type(2){background:#3598dc}
#menu2 li:nth-of-type(3){background:#2fcc71}
#returnMenu{
	transition:background-color .3s ease-in;
	width:50px;height:50px;line-height:48px;
	background:#e84c3d;
	text-align:center;
	margin:50px auto 0 auto;
	border-radius:50px;
	font-size:1.4em;
	position:relative;bottom:0;
}
#main .btnbox,#multiBox .btnbox,#joinBox .btnbox,#otherScore ul{
	text-align: center;
	margin: 5px auto;
	display: box;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: flex;
	display: -webkit-flex;
}
#main .btnbox li,#multiBox .btnbox li,#joinBox .btnbox li {
	transition:background-color .3s ease-in;
	box-flex: 1;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-box-flex: 1;
	flex: 1;
	-webkit-flex: 1;
	color: #fff;
	height: 53px;
	line-height: 53px;
	border-radius: 10px;
	font-size: 24px;
}
#main .btnbox li:nth-of-type(1) {background: #ffc63e}
#main .btnbox li:nth-of-type(2) {margin: 0 5px;background: #7d8ed4;}
#main .btnbox li:nth-of-type(3) {background: #ed954b}
#main  #menu1 div:hover,#menu2 li:hover,#main .btnbox li:hover,#returnMenu:hover{background:#54d5eb;transition:background-color .5s ease-in;}
#multiBox,#joinBox{
	position:fixed;
	left:0;top:0;right:0;bottom:0;
	background:rgba(0,0,0,.3);	
	color:#fff;
	font-size:.75em;
	display:none;
}
#multiBox .content,#joinBox .content{
	background-color:#f49c14;
	width:200px;
	margin:0px auto;
	padding:10px;
	border-radius:10px;
}
#joinBox .content{background-color:#3598dc;box-sizing:border-box}
#multiBox .content .roombox{
	background:#fff;
	height:40px;
	line-height:40px;
	border-radius:5px;
	margin:10px 0;
	text-align:center;
	color:#333;
	font-size:1.2em;
	text-shadow:1px 1px 1px rgba(0,0,0,.4);
}
#multiBox .content .roombox div{padding-top:16px;}
#multiBox .content .roombox i{margin:0 auto;font-size:24px;}
#multiBox .btnbox,#joinBox .btnbox{width:180px;margin:10px auto;}
#multiBox .btnbox li,#joinBox .btnbox li{margin:10px;box-shadow:1px 1px 2px 1px rgba(0,0,0,.1)}
#multiBox .btnbox li:nth-of-type(1),#joinBox .btnbox li:nth-of-type(1)  {background: #3598dc;transition:background-color .5s ease-in;}
#multiBox .btnbox li:nth-of-type(2) ,#joinBox .btnbox li:nth-of-type(2) {background: #e84c3d}
#multiBox .btnbox li.off{background:#bec3c7}
#joinInput{
	border:none;
	border-radius:5px;
	width:50px;
	padding:5px;
	font-size:1em;
}
#joinBox  button{border:none;background:none;color:#fff;font-size:1.2em;position:relative;top:2px;}
#set {
	display: none;
	position: fixed;
	bottom: 0;
	left:0;
	width: 100%;
	height: 100px;
	background: #5cbde7;
	z-index:4;
}
#set .setlist {
	padding-top: 20px;
	width: 200px;
	margin: 0 auto;
	text-align: center;
}
#set .setlist li {
	display: inline-block;
	width: 53px;
	height: 53px;
	line-height: 53px;
	border-radius: 10px;
	font-size: 27px;
	color: #5cbde7;
	background: #fff;
}
#endGame {
	display: none;
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
	text-align:center;
	background-color:rgba(0,0,0,.3);
	color: #ffffff;
	z-index:3;
}
#endGame .end {
	margin: 0 auto;
	width: 100%;
	max-width: 500px;
	background-size: cover;
}
#endGame .endlist li {
	display: inline-block;
	width: 70px;
	height: 70px;
	line-height: 70px;
	border-radius: 10px;
	font-size: 27px;
	
}
#endGame .endlist li:nth-of-type(1) {
	background: #de6e5f
}
#endGame .endlist li:nth-of-type(2) {
	background: #7e8ed5
}
#endGame {
		
}
 
#cover {
	background: rgba(3,3,3,.5);
	position: fixed;
	top: 0;left:0;
	width: 100%;
	display: none;
	z-index:3;
}
#game {
	width: 90%;
	max-width: 450px;
	margin: 0 auto;
	display: none;
	position: relative;
	bottom:0;
}
.gamebody {
	position: relative;
}
.gamebody i {
	background: rgb(225,225,225);
	position: absolute;
	border-radius: 4px;
}
.chosen-list {
	margin: 0 auto;
}
.chosen-list li {
	position: absolute;
	cursor: pointer;
}
.chosen-list li i {
	position: absolute;
	border-radius: 4px;
}

#toplist {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 4;
	display: none;
	padding-top: 20px;
}
#toplist li ,#scoreList li{
	font-size:.8em;
	width: 90%;
	max-width: 500px;
	text-align: center;
	color: #fff;
	padding: 10px 0;
	margin: 3px auto;
	border-radius: 10px;
	position: relative;
	display: none;
	box-shadow: 1px 1px 3px rgba(0,0,0,.5);
}
#toplist li:nth-of-type(5n+1),#scoreList li:nth-of-type(5n+1) {
	background: rgb(221, 101, 85);
}
#toplist li:nth-of-type(5n+2),#scoreList li:nth-of-type(5n+2) {
	background: rgb(237, 149, 75)
}
#toplist li:nth-of-type(5n+3),#scoreList li:nth-of-type(5n+3) {
	background: rgb(255, 198, 62)
}
#toplist li:nth-of-type(5n+4),#scoreList li:nth-of-type(5n+4) {
	background: rgb(152, 220, 85)
}
#toplist li:nth-of-type(5n),#scoreList li:nth-of-type(5n) {
	background: #7d8ed4
}
#toplist li span,#scoreList li span {
	display: inline-block;
}
#toplist li span:nth-of-type(1),#scoreList li span:nth-of-type(1){
	width: 15px;
	font-size: 20px;
}
#toplist li span:nth-of-type(2),#scoreList li span:nth-of-type(2){
	width: 80px;
}
#toplist li span:nth-of-type(3),#scoreList li span:nth-of-type(3){
	width: 40px;
}
#toplist li span:nth-of-type(4),#scoreList li span:nth-of-type(4){
	width: 150px;
	font-size: 13px;
}

#aboutbox{
	font-size:.8em;
	position:fixed;
	z-index: 4;
	top:40%;
	left:0;
	width:100%;
	display:none;	
}
#aboutbox .content{
width:200px;
padding:10px;
margin:0 auto;
border-radius:6px;
background:#1fbba6;
color:#fff;	
}
#aboutbox .content a{color:#fff;}
/*loading 样式*/
@-webkit-keyframes ajax-loader-rotate {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes ajax-loader-rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes ajax-loader-rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.ajax-loader {
  opacity: .8;
  display: block;
  border-radius: 50%;

  font-size: 29px;
  width: .25em;
  height: .25em;

  box-shadow:
    0 -.4em       0 0 rgba(0,0,0,1),
    -.28em -.28em 0 0 rgba(0,0,0,.75),
    -.4em 0       0 0 rgba(0,0,0,.50),
    -.28em .28em  0 0 rgba(0,0,0,.25)
  ;

  -webkit-animation: .85s ajax-loader-rotate steps(8) infinite;
  -moz-animation: .85s ajax-loader-rotate steps(8) infinite;
  animation: .85s ajax-loader-rotate steps(8) infinite;
}
em.sign{
	position:absolute;
	right:-1px;
	top:-1px;
	width:8px;
	height:8px;
	background-color:#f00;
	border-radius:10px;	
}