@charset "utf-8";
.endgame{-webkit-animation: 1s endgame;-moz-animation: 1s endgame;animation: 1s endgame;}
@-webkit-keyframes endgame {
 0% {bottom:-100px;opacity: 0;}
 100% {bottom:0;opacity: 1;}
}
 @-moz-keyframes endgame {
 0% {bottom:-100px;opacity: 0;}
 100% {bottom:0;opacity: 1;}
}
 @keyframes endgame {
 0% {bottom:-100px;opacity: 0;}
 100% {bottom:0;opacity: 1;}
}
.bShow{-webkit-animation: 1s bShow;-moz-animation: 1s bShow;animation: 1s bShow;}
.bHide{-webkit-animation: .6s bHide;-moz-animation: .6s bHide;animation: .6s bHide;}
 @-webkit-keyframes bShow {
 0% {bottom:-100px;}
 100% {bottom:0;}
}
 @-moz-keyframes bShow {
 0% {bottom:-100px;}
 100% {bottom:0;}
}
 @keyframes bShow {
 0% {bottom:-100px;}
 100% {bottom:0;}
}
 @-webkit-keyframes bHide {
 0% {bottom:0;}
 100% {bottom:-100px;}
}
 @-moz-keyframes bHide {
 0% {bottom:0;}
 100% {bottom:-100px;}
}
 @keyframes bHide {
 0% {bottom:0;}
 100% {bottom:-100px;}
}

.oShow{-webkit-animation: 1s oShow;-moz-animation: 1s oShow;animation: 1s oShow;}
.oHide{-webkit-animation: .6s oHide ease-in;-moz-animation: .6s oHide ease-in;animation: .6s oHide ease-in;}
 @-webkit-keyframes oShow {
 0% {opacity: 0;}
 100% {opacity: 1;}
}
 @-moz-keyframes oShow {
 0% {opacity: 0;}
 100% {opacity: 1;}
}
 @keyframes oShow {
 0% {opacity: 0;}
 100% {opacity: 1;}
}
 @-webkit-keyframes oHide {
 0% {opacity: 1;}
 100% {opacity: 0;}
}
 @-moz-keyframes oHide {
 0% {opacity: 1;}
 100% {opacity: 0;}
}
 @keyframes oHide {
 0% {opacity: 1;}
 100% {opacity: 0;}
}
 @-webkit-keyframes top {
 0% {
left:-100px;
opacity: 0;
}
 100% {
left:0;
opacity: 1;
}
}
 @-moz-keyframes top {
 0% {
left:-100px;
opacity: 0;
}
 100% {
left:0;
opacity: 1;
}
}
 @keyframes top {
 0% {
left:-100px;
opacity: 0;
}
 100% {
left:0;
opacity: 1;
}
}

